h1{
    text-align: center;
    background-color: bisque;
    
}
body{
    background-image:url('C:\408\project\students.png');
    background-size: cover;
    background-position: center;
  }